<div>

    {{debug}}
    <h2>Flat file data displayed on a handlebars.js template loaded with ajax</h2>
    {{#objects}}
        <p>{{Title}}: <strong>{{Data}}</strong><br />
        -- <a href="{{SourceLink}}" target="_blank"><em>{{Source}}</em></a></p>
    {{/objects}}

</div>