<ul id="tabletop-elements">
{{#objects}}
    <li>{{title}} ({{speaker}}) - {{day}} in {{place}}</li>
{{/objects}}
</ul>

<!--
{{#objects}}
    <div id="tabletop-elements">
        <p>Be sure to check out {{title}} being presented by <strong>{{speaker}}</strong> on {{day}} at {{place}}.<br />
        <strong>More information</strong>:<br />
        {{description}}</p>
        <hr>
    </div>
{{/objects}}
-->