<div id="rampResult">
    <h2 class="alert-heading">Park at {{closestRampName}}</h2>
    <p>The closest parking garage is {{closestRampName}} which is {{closestRampDistance}} miles away.
    <br />
    It has {{closestRampSpots}} parking spots available as of {{closestRampUpdated}}.</p>
</div>