{{#objects}}
    <tr>
        <td>{{ season }}</td>
        <td>{{ week }}</td>
        <td>Green Bay - {{ packersscore }}</td>
        <td>{{ opponent }} - {{ opponentscore }}</td>
        <td>{{ appliedby }}</td>
        <td>{{ appliedto }}</td>
        <td>{{ play }}</td>
        <td>{{ quarter }}</td>
        <td>{{ unit }}</td>
        <td>{{ daggerscale }}</td>
    </tr>
{{/objects}}