{{#objects}}

<p><strong>{{dateFormat date}}</strong></p>

<p>{{agency_name}}<br/>
{{street_address}}<br/>
{{city}}, {{state}} {{zip_code}}</p>

<p><strong>RE</strong>: Request for Public Records</p>

<p><strong>To Whom It May Concern</strong>:</p>

<p>Under the California Public Records Act (Government Code Section 6250 et seq.), I ask to obtain a copy of the following records or data sets which I understand to be held by your agency:</p>

<blockquote><p><em>{{data_request}}</em></p></blockquote>

<p>I ask for a determination on this request within 10 days of receipt, or sooner should you make a determination without review of the record(s) in question.</p>

<p>If you determine that any or all or the information if exempt, I would like to know if the exemption is discretionary, if it's necessary to exercise discretion in this case and a signed notification citing the legal authorities used to determine the records are exempt.</p>

<p>Should some but not all of the information be exempt from disclosure -- and you intend to withhold it -- I ask that you redact it for the time being and make the rest available as requested.</p>

<p>Please notify me of any duplication costs that will exceed $10.00. If I can provide any clarification or answer any questions, my contact information is below.</p>

<p>Thanks in advance and take care.</p>

<p>Sincerely:</p>

<p>Chris Keller<br/>
Data Journalist/News Applications Developer<br/>
Southern California Public Radio<br/>
<strong>Web</strong>: scpr.org<br/>
<strong>Email</strong>: ckeller@scpr.org<br/>
<strong>Desk</strong>: (626) 583-5214</p>

{{/objects}}